.county-summary__subheading {
  padding: 1rem;
  background-color: var(--color-grey);
}

.county-summary__subheading > div {
  display: flex;
  column-gap: 2rem;
}

.views-field-field-electorate {
  display: flex;
  column-gap: 0.25rem;
}

.views-field-field-electorate .field-content,
.views-field-election-turnout .field-content {
  font-weight: bold;
}

.county-summary .dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid black;
  margin-right: 0.5rem;
}

.county-summary .label-wrapper {
  display: inline-flex;
}

.county-summary .hold-or-gain {
  padding: 0.25rem;
  margin: 0 0.25rem;
}

.county-summary .hold {
  border: var(--table-border);
}

.county-summary .hold-or-gain.gain {
  color: white;
  background-color: black;
}

.county-summary .party {
  text-transform: uppercase;
  padding: 0.25rem;
  color: white;
  font-weight: bold;
  font-family: Sans-Serif;
  width: fit-content;
}

.county-summary .views-field-election-majority {
  padding: 1rem;
}

.county-summary .seat-not-contested {
  display: inline-flex;
  border: 1px solid black;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.25rem;
}
