.localgov-election__content > * + * {
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: var(--table-border);
}

.area-summary__subheading {
  padding: 1rem;
  background-color: #eee;
}

.area-summary__subheading > div {
  display: flex;
  column-gap: 2rem;
}

.views-field-field-electorate {
  display: flex;
  column-gap: 0.25rem;
}

.views-field-field-electorate .field-content,
.views-field-election-turnout .field-content {
  font-weight: bold;
}

.area-summary .label-wrapper {
  display: inline-flex;
}

.area-summary .party {
  width: fit-content;
  padding: 0.25rem;
  text-transform: uppercase;
  color: white;
  font-family: Sans-Serif;
  font-weight: bold;
}

.area-summary .views-field-election-majority {
  padding: 1rem;
}

.area-summary .seat-not-contested {
  display: inline-flex;
  padding: 0.25rem;
  text-transform: uppercase;
  border: 1px solid black;
  font-weight: bold;
}

.area-summary-table caption {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 1rem 0;
  text-align: left;
}

span.party {
  display: block;
  padding: 0.25rem 0.5rem;
}
