.election-menu-block {
  border-right: var(--table-border);
}

.election-menu__list {
  list-style-type: none;
  padding: 0;
}

.election-menu__list-item {
  margin-bottom: 0.5rem;
  display: flex;
  width: 100%;
  padding: 1rem;
}

.election-menu__list-item a {
  width: 100%;
  display: block;
  text-decoration: underline;
}

.election-menu__list-item.active {
  background-color: var(--color-accent);
  color: white;
}

.election-menu__list-item.active a {
  color: white;
}

.election-menu-block__button-container {
  display: flex;
  justify-content: end;
}

#election-menu {
  display: block;
}

#election-menu[aria-hidden="true"] {
  display: none;
}