.view-election-results-timeline .winner {
  font-family: sans-serif;
  font-weight: bold;
}

.view-election-results-timeline .ward-candidate-results,
.views-field-ward-candidates-party {
  vertical-align: top;
}

.view-election-results-timeline .winner.result-row {
  margin-bottom: 2rem;
}

.view-election-results-timeline .key-result {
  display: flex;
  text-transform: uppercase;
}

.view-election-results-timeline .key-result .winning-party {
  padding: 0.25rem;
  color: white;
}

.view-election-results-timeline .ward-candidate-results > * {
  margin-bottom: 0.5rem;
}

.view-election-results-timeline .winning-party.grn {
  background-color: var(--green-party);
}

.view-election-results-timeline .winning-party.con {
  background-color: var(--conservative);
}

.view-election-results-timeline .winning-party.lab {
  background-color: var(--labour);
}

.view-election-results-timeline .winning-party.ldm {
  color: black;
  background-color: var(--liberal-democrats);
}

.view-election-results-timeline .winning-party.ind {
  background-color: var(--independent);
}

.view-election-results-timeline .hold-gain {
  margin: 0 0.25rem;
  padding: 0.25rem;
}

.view-election-results-timeline .hold {
  border: var(--table-border);
}

.view-election-results-timeline .key-result .hold-gain.gain {
  color: white;
  background-color: black;
}
