.view-election-results-timeline .winner {
  font-family: sans-serif;
  font-weight: bold;
}

.view-election-results-timeline .ward-candidate-results,
.views-field-ward-candidates-party {
  vertical-align: top;
}

.view-election-results-timeline .winner.result-row {
  margin-bottom: 2rem;
}

.view-election-results-timeline .ward-candidate-results > * {
  margin-bottom: 0.5rem;
}
