.view-election-results-vot th {
  background-color: unset;
  border-bottom: var(--table-border);
}

.view-election-results-vot .view-header {
  background-color: var(--color-accent);
  color: white;
  padding: 1rem;
}

.view-election-results-vot .view-header h2 {
  margin-bottom: 0;
  font-size: 1rem;
}
