.dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid black;
  margin-right: 0.5rem;
}
table {
  display: block;
  overflow-x: auto;
  max-height: 100%;
}

@media only screen and (max-width: 1000px) {

  tbody td {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
  }

  td .party, td .winning-party {
    padding: 2px !important;
    text-transform: none !important;
    font-weight: normal !important;
  }
}
