.results-analysis-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem auto;
  padding: 1rem;
}
.ward-result__content .view-content {
  padding: 1rem;
}

.ward-result__content {
  display: grid;
  gap: 1rem;
}

.ward-result .box {
  padding: 1rem;
}

.ward-result .box > .hold-gain {
  text-transform: uppercase;
  font-weight: bold;
}

.ward-result .dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid black;
  margin-right: 0.5rem;
}

.ward-result .label-wrapper {
  display: inline-flex;
}

.ward-result .results-analysis-grid > * {
  border-bottom: var(--table-border);
  margin-bottom: 0.1rem;
}

.ward-result .box > * {
  width: fit-content;
  margin: 0 auto;
}
