<div {{ attributes }}>
  {% if links %}
    <ul class="election-menu__list">
    {% for link in links %}
      <li {{ link.attributes.addClass('election-menu__list-item') }}>{{ link.link }} <i class="fa-solid fa-chevron-right"></i></li>
    {% endfor %}
    </ul>
  {% endif %}
</div>
